name: Dependabot Review & Merge

on:
  workflow_run:
    workflows: [Dependabot Review]
    types: [completed]

permissions:
  contents: write

jobs:
  merge-pr:
    runs-on: ubuntu-latest
    if: ${{github.event.workflow_run.conclusion == 'success' && github.actor == 'dependabot[bot]'}}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          ref: security-updates
      - name: Debug
        run: echo "$GITHUB_ACTOR"
        env:
          GITHUB_ACTOR: ${{ github.actor }}
      - name: Enable auto-merge for Dependabot PRs
        # run: gh pr merge --auto --squash "$PR_URL"
        # env:
        #   PR_URL: ${{github.event.pull_request.html_url}}
        #   GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{ github.event.workflow_run.pull_requests[0].url }}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
